extends ../base.pug

block variables
    - var template = 'about'

block body
    .about(data-background="" data-color="")
        canvas.webgl-container
        //- Scroll wrapper
        .about__wrapper
            .about__banner
                canvas.scene#scene
                .about__banner__inner
                    h1.about__banner__title.splitter!=about.data.about_banner[0].banner_title.replace(/\n/g,"</br>")
                    h1.about__banner__title.splitter!=about.data.about_banner[0].banner_title_2.replace(/\n/g,"</br>")
                    h1.about__banner__title.splitter!=about.data.about_banner[0].banner_title_3.replace(/\n/g,"</br>")
            .about__us__wrapper
                .about__us__wrapper__inner
                    .about__us__content
                        p.about__us__paragraph(data-animation="paragraph")!=about.data.about_us[0].about_para.replace(/\n/g,"</br>")
                        ul.about__us__list(data-scroll data-scroll-offset="50%")
                            li.about__us__list__item
                                h1.about__us__list__item__title(data-animation="paragraph") 17+
                                p.about__us__list__item__text(data-animation="paragraph") Branches
                            li.about__us__list__item
                                h1.about__us__list__item__title(data-animation="paragraph") 157
                                p.about__us__list__item__text(data-animation="paragraph") Projects
                            li.about__us__list__item
                                h1.about__us__list__item__title(data-animation="paragraph") 73
                                p.about__us__list__item__text(data-animation="paragraph") Clients
                            li.about__us__list__item
                                h1.about__us__list__item__title(data-animation="paragraph") 350+
                                p.about__us__list__item__text(data-animation="paragraph") Members
            .about__screen
                figure.about__screen__wrapper
                    img.about__screen__img.parallax__image(data-src="/about_screen.jpg", alt="About Screen Picture")
            .about__service__wrapper
                .about__service__wrapper__inner
                    h1.about__service__wrapper__title(data-animation="paragraph")!=about.data.about_service[0].service_title.replace(/\n/g,"</br>")
                    .about__service__wrapper__list
                        .about__service__wrapper__list__title__wrapper
                            h4.about__service__wrapper__list__title(data-animation="paragraph") Our Service
                        .about__service__wrapper__list__content__wrapper
                            p.about__service__wrapper__paragraph(data-animation="paragraph")!=about.data.about_service[0].service_para_1.replace(/\n/g,"</br>")
                            p.about__service__wrapper__paragraph(data-animation="paragraph")!=about.data.about_service[0].service_para_2.replace(/\n/g,"</br>")
                            ul.about__services__list
                                li.about__service__list__item
                                    p.about__service__list__text(data-animation="paragraph") Print Design
                                li.about__service__list__item
                                    p.about__service__list__text(data-animation="paragraph") Brand Identity
                                li.about__service__list__item
                                    p.about__service__list__text(data-animation="paragraph") Art Direction
                                li.about__service__list__item
                                    p.about__service__list__text(data-animation="paragraph") User Interface
                                li.about__service__list__item
                                    p.about__service__list__text(data-animation="paragraph") User Experience
                                li.about__service__list__item
                                    p.about__service__list__text(data-animation="paragraph") Brand Digital
                                li.about__service__list__item
                                    p.about__service__list__text(data-animation="paragraph") Responsive Design
                            a.about__service__btn.splitter(href="/") All Services ->
                    .about__awards__wrapper__list
                        .about__awards__title__wrapper
                            h4.about__awards__title(data-animation="paragraph") Our Awards
                        ul.about__awards__list
                            li.about__pride__list__item(data-scroll data-scroll-offset="50%")
                                p.about__list__item__content(data-animation="paragraph") Site Of the Day
                                p.about__list__item__content(data-animation="paragraph") Awwwards
                                p.about__list__item__content(data-animation="paragraph") x28
                            li.about__pride__list__item(data-scroll data-scroll-offset="50%")
                                p.about__list__item__content(data-animation="paragraph") Site Of the Month
                                p.about__list__item__content(data-animation="paragraph") Awwwards
                                p.about__list__item__content(data-animation="paragraph") x13
                            li.about__pride__list__item(data-scroll data-scroll-offset="50%")
                                p.about__list__item__content(data-animation="paragraph") Site Of the Year
                                p.about__list__item__content(data-animation="paragraph") Awwwards
                                p.about__list__item__content(data-animation="paragraph") x4
                            li.about__pride__list__item(data-scroll data-scroll-offset="50%")
                                p.about__list__item__content(data-animation="paragraph") UX Design Of the Month
                                p.about__list__item__content(data-animation="paragraph") CSSDA
                                p.about__list__item__content(data-animation="paragraph") x6
                            li.about__pride__list__item(data-scroll data-scroll-offset="50%")
                                p.about__list__item__content(data-animation="paragraph") Studio Of the Year
                                p.about__list__item__content(data-animation="paragraph") CSSDA
                                p.about__list__item__content(data-animation="paragraph") x2
                            li.about__pride__list__item(data-scroll data-scroll-offset="50%")
                                p.about__list__item__content(data-animation="paragraph") Agency Of the Year
                                p.about__list__item__content(data-animation="paragraph") Golden Apple
                                p.about__list__item__content(data-animation="paragraph") x1
                            li.about__pride__list__item(data-scroll data-scroll-offset="50%")
                                p.about__list__item__content(data-animation="paragraph") Website Of the Day
                                p.about__list__item__content(data-animation="paragraph") Cyristal Studios
                                p.about__list__item__content(data-animation="paragraph") x9

                    .about__pictures__wrapper
                        figure.about__pic__wrapper(data-scroll data-scroll-speed="3")
                            img.about__pic(data-src="/about_1.jpg", alt="error")
                        figure.about__pic__wrapper(data-scroll data-scroll-speed="4")
                            img.about__pic(data-src="/about_3.jpg", alt="error")
                        figure.about__pic__wrapper(data-scroll data-scroll-speed="2")
                            img.about__pic(data-src="/about_2.jpg", alt="error")

            .about__team__wrapper
                .about__team__wrapper__inner
                    .about__team__title__wrapper
                        h1.about__team__title__wrapper(data-animation="paragraph")!=about.data.about_team[0].about_team_title.replace(/\n/g,"</br>")
                    .about__team__list
                        .about__team__list__title__wrapper
                            h4.about__team__list__title(data-animation="paragraph") Our Team
                        .about__team__list__content__wrapper
                            p.about__team__list__text(data-animation="paragraph")!=about.data.about_team[0].about_team_paragraph.replace(/\n/g,"</br>")

                //- slider
                .about__team__menu
                    .about__team__menu__wrapper
                        .menu__item
                            figure.menu__item__pic__wrapper(data-name="Humera Landry" data-role="CEO")
                                img.menu__item__pic(data-src="/team/1.jpg", alt="team pic")
                        .menu__item
                            figure.menu__item__pic__wrapper(data-name="Jane Braithwave" data-role="Graphic Designer")
                                img.menu__item__pic(data-src="/team/2.jpg", alt="team pic")
                        .menu__item
                            figure.menu__item__pic__wrapper(data-name="Kirsty Ball" data-role="UI / UX Designer")
                                img.menu__item__pic(data-src="/team/3.jpg", alt="team pic")
                        .menu__item
                            figure.menu__item__pic__wrapper(data-name="Darnell Irving" data-role="CTO")
                                img.menu__item__pic(data-src="/team/4.jpg", alt="team pic")
                        .menu__item
                            figure.menu__item__pic__wrapper(data-name="Erika Moses" data-role="Art Director")
                                img.menu__item__pic(data-src="/team/5.jpg", alt="team pic")
                        .menu__item
                            figure.menu__item__pic__wrapper(data-name="Willa Porter" data-role="Graphic Designer")
                                img.menu__item__pic(data-src="/team/6.jpg", alt="team pic")

            .about__client__wrapper
                .about__client__wrapper__inner
                    p.about__client__wrapper__paragraph(data-animation="paragraph")!=about.data.about_team[0].about_client_paragraph.replace(/\n/g,"</br>")
                .about__partner__lists
                    .about__partner__list(data-scroll data-scroll-speed="4" data-scroll-direction="horizontal")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/1.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/2.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/3.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/4.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/5.webp", alt="error")
                    .about__partner__list(data-scroll data-scroll-speed="-4" data-scroll-direction="horizontal")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/5.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/6.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/7.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/8.webp", alt="error")
                        figure.about__partner__box
                            img.about__partner__img(data-src="/clients/1.webp", alt="error")

            //- footer
            include ../partials/footer
